body {
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 40px;
}

hr {
  background-color: #589e6f;
}

.green {
  color: #589e6f;
}

.cover {
  max-width: 100%;
  height: auto;
}
